.container {
    margin-top: 0px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
.card-body {
    color:#CCC;
    font-size:2rem;

    padding-left: 20px; /* リストの左側にパディングを追加 */
    list-style-position: inside;
  }


  .card-title {
    font-size: 10rem;
    color:#008CBA;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-title2 {
    font-size: 3rem;
    color: #c4ebf8;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left; /* リストのテキストを左寄せにする */
  }
  
  .card-text {
    color: #CCC;
    text-align: left; /* リストのテキストを左寄せにする */
  }

  .card-text-label {
    font-size: 0.875rem; /* 文字サイズを小さくする */
    color: #999; /* 色を薄くする */
    display: inline-block; /* インラインブロックにする */
    margin-right: 4px; /* 右側に少しマージンを追加 */
  }

  .invite_university{
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: left; /* リストのテキストを左寄せにする */
  }

  .btn-custom-download {
    background-color: #4CAF50; /* 緑色 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px 4px 0; /* 右側に20pxのマージンを追加 */
    cursor: pointer;
    border-radius: 8px;
  }

  .btn-custom-save {
    background-color: #008CBA; /* 青色 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 20px; /* 左側に20pxのマージンを追加 */
    cursor: pointer;
    border-radius: 8px;
  }

  .btn-normal{
    background-color: #c4ebf8; 
    color: rgb(38, 33, 61);
    border: none;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

  .add-edit-form {
    margin-top: 100px;
    background-color: #6a8791; 
    padding: 16px;
    margin: 0 400px;
    border-radius: 8px;
    text-align: left; /* 追加: フォームのラベルと入力フィールドを左寄せにする */
}

.form-group label {
  display: flex; /* 追加: ラベルをフレックスボックスにする */
  align-items: center; /* 追加: ラベル内のアイテムを中央揃えにする */
  text-align: left; /* 追加: ラベルのテキストを左寄せにする */
  color: black; /* 追加: ラベルの文字色を黒にする */
  font-size: 0.875rem; /* 追加: ラベルの文字サイズを小さくする */
}

.form-group input[type="text"] {
  display: block; /* 追加: テキスト入力フィールドをブロック要素にする */
  text-align: left; /* 追加: テキスト入力フィールドのテキストを左寄せにする */
  color: black; /* 追加: テキスト入力フィールドの文字色を黒にする */
  font-size: 0.875rem; /* 追加: テキスト入力フィールドの文字サイズを小さくする */
}

.form-group input[type="checkbox"] {
  margin-right: 8px; /* 追加: チェックボックスとテキストの間にマージンを追加 */
}

.form-control{
  width: 100%;
  padding: 6px 12px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.form-control-search{
  width: 100%;
  padding: 6px 12px;
  margin: 100 0;
  width:30rem;
  display: inline-block;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
}