.container {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:#008CBA;
    background-color: #f9f9f9;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }

  .btn-custom-download {
    background-color: #4CAF50; /* 緑色 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px 4px 0; /* 右側に20pxのマージンを追加 */
    cursor: pointer;
    border-radius: 8px;
  }

  .btn-custom-save {
    background-color: #008CBA; /* 青色 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 4px 20px; /* 左側に20pxのマージンを追加 */
    cursor: pointer;
    border-radius: 8px;
  }

  .btn-normal{
    background-color: #c4ebf8; 
    color: rgb(38, 33, 61);
    border: none;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

  .add-text{
    font-size: 3.50rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 3px #00000040;
    text-shadow: 0 0 3px #00000040;
background-image: linear-gradient(
268deg, #7100ff 0%, #c325dd 20%, #ffe65c 40%, #ef17d2 60%, #7627ed 80%, #ff55c8 100%);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
  }

  .add-edit-form{
    margin-top: 20px;
    background-color: #f9f9f9;   
    padding: 16px;
    border-radius: 8px;
  }

.form-control-club{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control-univ{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control-search{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px;
}